[submodule "prototypes/chromesthizer"]
	path = prototypes/chromesthizer
	url = https://github.com/yuichkun/chromesthizer
[submodule "prototypes/single-motion-granular"]
	path = prototypes/single-motion-granular
	url = https://github.com/yuichkun/kentaro-granular-web
[submodule "prototypes/image-tessellation"]
	path = prototypes/image-tessellation
	url = https://github.com/yuichkun/mosaic-by-image-gathering
[submodule "prototypes/n4m-feature-extractor"]
	path = prototypes/n4m-feature-extractor
	url = https://github.com/yuichkun/n4m-feature-extractor
[submodule "prototypes/n4m-posenet"]
	path = prototypes/n4m-posenet
	url = https://github.com/yuichkun/n4m-posenet
[submodule "prototypes/interval-explorer"]
	path = prototypes/interval-explorer
	url = https://github.com/yuichkun/interval-explorer
[submodule "prototypes/css-mask-video-with-text"]
	path = prototypes/css-mask-video-with-text
	url = https://github.com/yuichkun/css-mask-video-with-text
[submodule "prototypes/animated-url-bar"]
	path = prototypes/animated-url-bar
	url = https://github.com/yuichkun/animated-url-bar
[submodule "prototypes/people"]
	path = prototypes/people
	url = https://github.com/yuichkun/people
[submodule "prototypes/pitch-dropper"]
	path = prototypes/pitch-dropper
	url = https://github.com/yuichkun/web-audio-pitch-dropper
[submodule "prototypes/building-audio-apps-with-js"]
	path = prototypes/building-audio-apps-with-js
	url = https://github.com/yuichkun/building-audio-apps-with-js
